# **Python data types Assignment**

## **TOPIC : String Based Assignment Problem**

### 1. Write a program to reverse a string.

In [1]:
string = "PRasad reddy"    # declaring string

reverse_string= string [::-1]   # reversing string using slicing

print("reverse string : ",reverse_string)  # displaying the string

reverse string :  ydder dasaRP

### 2. Check if a string is a palindrome.

In [3]:
string = input("enter string: ")  # decalring a string

palindrome_string = string[::-1]  # reversing string using slicing

# checking if it is palindrome or not using conditional statements
if palindrome_string == string:
  print(f"'{string}' is a palindrome string")
else:
  print(f"'{string}' is not a palindrome string")

enter string: madam
'madam' is a palindrome string

### 3. Convert a string to uppercase.

In [4]:
string = input("enter string: ")  # decalring a string

uString = string.upper()  # converting upper case using upper()

print(f"The uppercase of '{string}' is  : '{uString}'") # displaying the result

enter string: prasad
The uppercase of 'prasad' is  : 'PRASAD'

### 4. Convert a string to lowercase.

In [5]:
string = input("enter string: ")  # decalring a string

uString = string.lower()  # converting lower case using lower()

print(f"The lowercase of '{string}' is  : '{uString}'") # displaying the result

enter string: PrasaD ReddY
The lowercase of 'PrasaD ReddY' is  : 'prasad reddy'

### 5. Count the number of vowels in a string.

In [6]:
# taking sentence from user
string = input("Enter string : ")

# converting the sentence into lower case to make case-sensitive
string=string.lower()

# counting vowels
count = string.count("a")+string.count("e")+string.count("i")+string.count("o")+string.count("u")

print(count) # displaying result

Enter string : prasad reddy
3

### 6. Count the number of consonants in a string.

In [7]:
# taking sentence from user
string = input("Enter string : ")

# converting the sentence into lower case to make case-sensitive
string=string.lower()

count=0  # declaring initially 0 to the count variable

for i in string:  # iterating using loop

  if i in "aeiou ": # checking if "i" is vowel or not

    pass   # empty statement

  else:

    count+=1  # counting if it is consonent

print(f"count of the consonents : {count}" )

Enter string : prasad reddy
count of the consonents : 8

### 7. Remove all whitespaces from a string.

In [8]:
string="pra sad red dy"  # decalring a string

m_string=""  # creating a empty string

for i in string:  # iterating string

  if i not in " ":  # checking if the space is contains or not

    m_string+=i     # if it is not space then that letter will concatenate to empty string

print(f"After removing the white spaces : {m_string}")   # displaying the result

After removing the white spaces : prasadreddy

### 8. Find the length of a string without using the `len()` function.

In [9]:
string="prasad reddy"  # decalring a string

count=0  # initially declare 0 to count

for i in string:  # iterating string

    count+=1    # incrementing one value for every iteration

print(f"After counting the length of a string  : {count}")   # displaying the result

After counting the length of a string  : 12

### 9. Check if a string contains a specific word.

In [10]:
string = "Python development"  # declare a string

word = input("enter word for search : ")  # assigning word from user

# checking if word contains or not
if word in string:

  print(True)

else:

  print(False)

enter word for search : d
True

### 10. Replace a word in a string with another word.

In [11]:
string = "data science with python language"

old_word= "python"

new_word="R"

result=string.replace(old_word,new_word) # replacing using replace() function

print(result)

data science with R language

### 11. Count the occurrences of a word in a string.

In [12]:
string = "data science with python language and also we can do it with r language"

word = input("enter the word for search : ")

result = string.count(word)

print(result)

enter the word for search : language
2

### 12. Find the first occurrence of a word in a string.

In [14]:
string = "data science with python language and also we can do it with r language"

word = input("enter the word for search : ")

result = string.find(word) # find() used to find the index of given word

print(f"The word '{word}' first occurs at index {result}.")

enter the word for search : python
The word 'python' first occurs at index 18.

### 13. Find the last occurrence of a word in a string.

In [15]:
string = "data science with python language and also we can do it with r language"

word = input("enter the word for search : ")

result = string.rfind(word) # rfind() used to find the index of given word

print(f"The word '{word}' last occurs at index {result}.")

enter the word for search : python
The word 'python' last occurs at index 18.

### 14. Split a string into a list of words.

In [16]:
string = "data science with python language and also we can do it with r language"

lst_of_words = string.split(" ") # splitting using split() function

print(lst_of_words)

['data', 'science', 'with', 'python', 'language', 'and', 'also', 'we', 'can', 'do', 'it', 'with', 'r', 'language']

### 15. Join a list of words into a string.

In [17]:
lst_of_strings =  ['data', 'science', 'with', 'python', 'language', 'and', 'also', 'we', 'can', 'do', 'it', 'with', 'r', 'language']

result = " ".join(lst_of_strings)

print(result)

data science with python language and also we can do it with r language

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [18]:
string = "prasad was took datascience course in PW skills"

result = string.replace(" ","_") #replace using replace() function


print(result)

prasad_was_took_datascience_course_in_PW_skills

### 17. Check if a string starts with a specific word or phrase.

In [19]:
string = "This is a prasad from kiet"
word = "This"

if string.startswith(word):
    print(f"The string starts with '{word}'.")
else:
    print(f"The string does not start with '{word}'.")

The string starts with 'This'.

### 18. Check if a string ends with a specific word or phrase.

In [20]:
string = "This is a prasad from kiet"
word = "kiet"

if string.endswith(word):
    print(f"The string ends with '{word}'.")
else:
    print(f"The string does not ends with '{word}'.")

The string ends with 'kiet'.

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [21]:
string = "hello world"

print(f"The title case of {string} is : {string.title()}") # title() function

The title case of hello world is : Hello World

### 20. Find the longest word in a string.

In [22]:
string = "PW skills is a excellent platform for learning skills"

lst_of_words = string.split() # splitting of string into a list

max_string = ""    # declare a empty string

for s in lst_of_words:  # iterating

  if len(s) > len(max_string):    # checking the maximum string by calculating of length
    max_string = s

print(f"the maximum of string is : {max_string}")

the maximum of string is : excellent

### 21. Find the shortest word in a string.

In [23]:
string = "PW skills is a excellent platform for learning skills"

lst_of_words = string.split() # splitting of string into a list

min_string = lst_of_words[0]    # initiallizing a starting word

for s in lst_of_words:  # iterating


  if len(s) < len(min_string):    # checking the maximum string by calculating of length
    min_string = s

print(f"the minimum of string is : '{min_string}'")

the minimum of string is : 'a'

### 22. Reverse the order of words in a string.

In [24]:
string = "PW skills is a excellent platform for learning skills"

lst_of_words = string.split() # splitting of string into a list

result=""

for s in lst_of_words:  # iterating

    result+=s[::-1]    # reversing a word  using slicing
    result+=" "     # adding space after each word assigned

print(f"the final string is : '{result}'")   # displaying the result

the final string is : 'WP slliks si a tnellecxe mroftalp rof gninrael slliks '

### 23. Check if a string is alphanumeric.

In [25]:
string  = "Prasad2003"  # declaring the string

if string.isalnum():   # checking the string using isalnum()

  print("The string is alpha numeric")

else:

  print("The string is not in alpha numeric")

The string is alpha numeric

### 24. Extract all digits from a string.

In [26]:
string = "Prasad2003"  # declaring string

for n in string:  # iterating string

  if n.isdigit():  # checking the digit using isdigit()

    print(n,end="")   # display the result if it is digit

2003

### 25. Extract all alphabets from a string.

In [27]:
string = "Prasad2003"  # declaring string

for c in string:  # iterating string

  if c.isalpha():  # checking the character using isalpha()

    print(c,end="")   # display the result if it is alphabet

Prasad

### 26. Count the number of uppercase letters in a string.

In [28]:
string = "PrasaD ReddY"  # declaring string

count=0

for c in string:  # iterating string

  if c==" ":  #for checking space

    pass   # empty statement

  elif c.capitalize() == c:  # checking the character is capital or not

     count+=1 # display the result if it is alphabet

print(f"The count of capital letters is : {count}")

The count of capital letters is : 4

### 27. Count the number of lowercase letters in a string.

In [29]:
string = "PrasaD ReddY"  # declaring string

count=0

for c in string:  # iterating string

  if c==" ":  #for checking space

    pass   # empty statement

  elif c.capitalize() != c:  # checking the character is lower case letter or not

     count+=1

print(f"The count of lowercase letters is : {count}")  # display the result

The count of lowercase letters is : 7

### 28. Swap the case of each character in a string.

In [30]:
string = "PrasaD ReddY"  # declaring string

count=""

for c in string:  # iterating string

  if c==" ":  #for checking space

    count+=" "

  elif c.capitalize() != c:  # checking the character is lower case letter or not

     count+=c.capitalize()
  else:
    count+=c.lower()

print(f"The count of lowercase letters is : {count}")  # display the result

The count of lowercase letters is : pRASAd rEDDy

### 29. Remove a specific word from a string.

In [31]:
string = "pw skilss is the best platform for learning"

lst_of_words = string.split()

result =""

word = input("enter required word to remove : ")

for i in lst_of_words:
  if i == word :
    pass

  else:
    result += i + " "

print(result)

enter required word to remove : skilss
pw is the best platform for learning

### 30. Check if a string is a valid email address.

In [32]:

email = "prasad@email.com"
Flag = True

#checking if the @ symbol are there or not
if "@" not in email:
        Flag= False

# Split the email into username and domain
username, domain = email.split("@")

# Check if there is exactly one "@" symbol
if email.count("@") != 1:
    Flag = False

# Check if the username is not empty and doesn't contain any spaces
if not username or " " in username:
    Flag =False

# Check if the domain contains exactly one "." (dot)
if domain.count(".") != 1:
    Flag=False

# Check if the domain is not empty and doesn't contain any spaces
if not domain or " " in domain:
    Flag=False

if Flag:
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

prasad@email.com is a valid email address.

### 31. Extract the username from an email address string.

In [33]:
string = "prasad@gmail.com"  # declaring sample email

lst = string.split("@")

print(f"the username is : {lst[0]}")

the username is : prasad

### 32. Extract the domain name from an email address string.

In [34]:
string = "prasad@gmail.com"  # declaring sample email

lst = string.split("@")

print(f"the domain name is : {lst[1]}") # displaying the message

the domain name is : gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [35]:
string = "Pw Skills    is       the best    platform  "

result = " ".join(string.split()) # here i am using split function to create list of words and after that join using join() function

print(result)

Pw Skills is the best platform

### 34. Check if a string is a valid URL.

In [36]:
url = "https://www.example.com"

# Check if the URL starts with "http://", "https://", or "ftp://"
if url.startswith("http://") or url.startswith("https://") or url.startswith("ftp://"):

    # Check if there are more than the protocol part (e.g., "http://")
    if len(url) > 7:

      print("The given url is valid")

The given url is valid

### 35. Extract the protocol (http or https) from a URL string.

In [37]:
url = "https://www.example.com"

# Check if the URL starts with "http://", "https://", or "ftp://"

if url.startswith("http://") :
  print("http")

elif url.startswith("https://"):
  print("https")

elif url.startswith("utf://"):
  print("utf")

https

### 36. Find the frequency of each character in a string.

In [38]:
string = input("Enter a string: ") # taking string from user

dic = {}   # empty dictionary for key,value

for char in string:

    if char in dic:
        dic[char] += 1

    else:
        dic[char] = 1

for key,value in dic.items():
  print(f"The frequency of '{key}' is {value}")

Enter a string: prasad reddy
The frequency of 'p' is 1
The frequency of 'r' is 2
The frequency of 'a' is 2
The frequency of 's' is 1
The frequency of 'd' is 3
The frequency of ' ' is 1
The frequency of 'e' is 1
The frequency of 'y' is 1

### 37. Remove all punctuation from a string.

In [39]:
import string as s # importing strings module

string = "Hey, prasad looking awesome!, is it college uniform?"

cleaned_string = ""

for char in string:

  if char not in s.punctuation: # checking if it punctuation or not
     cleaned_string+=char

print(cleaned_string)

Hey prasad looking awesome is it college uniform

### 38. Check if a string contains only digits.

In [40]:
string = "122fgs"  # declaring a string

check = ""  # empty string

for char in string :  # iterating

  if char.isdigit():  # checking if it s digit or not
    check+=char

if check == string:
  print("the string contains all are digits")
else:
  print("the string not contains all are digits ")

the string not contains all are digits

### 39. Check if a string contains only alphabets.

In [41]:
string = "122fgs"  # declaring a string

check = ""  # empty string

for char in string :  # iterating

  if char.isalpha():  # checking if it s alphabet or not
    check+=char

if check == string:
  print("the string contains all are alphabets")
else:
  print("the string not contains all are alphabets ")

the string not contains all are alphabets

### 40. Convert a string to a list of characters.

In [42]:
string = "Prasad reddy" # declaring a string

lst= []  # empty list

for char in string:  # iterating
  lst.append(char)   # appending character to list

print(lst)

['P', 'r', 'a', 's', 'a', 'd', ' ', 'r', 'e', 'd', 'd', 'y']

### 41. Check if two strings are anagrams.

In [ ]:
string1 = input("enter first string : ")
string2 = input("enter second string : ")

if sorted(string1) == sorted(string2) :
  print("these strings are anagrams")
else:
  print("these are not anagrams")

### 42. Encode a string using a Caesar cipher.

In [ ]:
plaintext = "Hello, Caesar Cipher!"
shift = 3
encrypted_text = ""

for char in plaintext:
    if char.isalpha():
        is_upper = char.isupper()
        char = char.lower()
        char_code = ord(char) - 97
        char_code = (char_code + shift) % 26
        char_code = (char_code + 26) % 26  # Ensure it stays within the alphabet range
        char_code = char_code + 97
        if is_upper:
            char_code = chr(char_code).upper()
        else:
            char_code = chr(char_code)
    encrypted_text += char_code

print("Encoded:", encrypted_text)

### 43. Decode a Caesar cipher encoded string.

In [ ]:
encrypted_text = "KhoorrrFdhvduuFlskhuu"
shift = 3
decrypted_text = ""

for char in encrypted_text:

    if char.isalpha():

        is_upper = char.isupper()
        char = char.lower()
        char_code = ord(char) - 97
        char_code = (char_code - shift) % 26
        char_code = (char_code + 26) % 26  # Ensure it stays within the alphabet range
        char_code = char_code + 97

        if is_upper:
            char_code = chr(char_code).upper()
        else:
            char_code = chr(char_code)

    decrypted_text += char_code

print("Decoded:", decrypted_text)

Decoded: HelloooCaesarrCipherr

### 44. Find the most frequent word in a string.

In [ ]:
string = "prasad reddy is from cse background"  # declaring a string

dic={}  # empty dictionary

for char in string:

  if char in dic:
    dic[char] += 1

  elif char == " ":
    pass

  else:
    dic[char] = 1

max1=0
key1=""

for key,val in dic.items():

  if max1 < val:
    max1=val    # assigning maximum value
    key1=key   # assigning key

print(f"the most frequent word in strin is '{key1}' with the count of : {max1}")

the most frequent word in strin is 'r' with the count of : 4

### 45. Find all unique words in a string.

In [ ]:
string = input("enter string : ").lower()



dic = {}
dic1 = {}

for char in string:
  if char in dic:
    dic[char]+=1
  elif char == " ":
    pass
  else:
    dic[char]=1

print("The unique characters are : ")
for key,value in dic.items():
  if value==1:
    print(f"'{key}'",end=" ")

enter string : prasad reddy
The unique characters are :
'p' 's' 'e' 'y'

### 46. Count the number of syllables in a string.

In [ ]:
text = "elephant"
text = text.lower()  # Convert the text to lowercase for consistency
vowels = "aeiou"  # Common English vowels

# Initialize variables for counting syllables and tracking consecutive vowels
syllable_count = 0
in_syllable = False  # To track if we're currently inside a syllable

for char in text:
    if char in vowels:
        if not in_syllable:
            syllable_count += 1
        in_syllable = True
    else:
        in_syllable = False

# Adjust for words ending in 'e' (usually not counted as a syllable)
if text.endswith("e") and syllable_count > 1:
    syllable_count -= 1

# Ensure at least one syllable is counted
if syllable_count == 0:
    syllable_count = 1

print(f"it contains '{syllable_count}' syllables")

it contains '3' syllables

### 47. Check if a string contains any special characters.

In [ ]:
def contains_special_characters(input_string):
    # Define a set of characters that are not considered special (letters and digits)
    non_special_characters = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789")

    # Check each character in the input string
    for char in input_string:
        if char not in non_special_characters:
            return True  # If a character is not in the non-special set, it's considered special

    return False  # If all characters are in the non-special set, there are no special characters

# Test the function
input_string = "Hello123!"  # Modify this string to test different cases
contains_special = contains_special_characters(input_string)

if contains_special:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

### 48. Remove the nth word from a string.

In [ ]:
string = "PRasad reddy "

lst = string.split()

n = int(input(f"enter number less than or equal to {len(lst)} : "))  # taking number for remove word at a particular place

#lst = []  # empty list

# for char in string:
#   lst.append(char)  # each character adding into a list

lst.pop(n-1)  # removing word

result= "".join(lst)

print(f"after removing of {n}th word, the result is :  {result}")

enter number less than or equal to 2 : 2
after removing of 2th word, the result is :  PRasad

### 49. Insert a word at the nth position in a string.

In [ ]:
string = "PRasad reddy "

lst = string.split()  # splitting of string into a list

n = int(input(f"enter number below {len(lst)} : "))  # taking  number to add word at a particular place

word= input("enter word for insert at a positon: ")  # taking word for add


# lst = []  #empty list

# for char in string:
#   lst.append(char)  # each character adding into a list

lst.insert(n,word)  # adding a word at a particular place

result= "".join(lst)   # joining characters into a string for output

print(f"after adding of {n}th word, the result is :  {result}")  # displaying the result

enter number below 2 : 2
enter word for insert at a positon: hello
after adding of 2th word, the result is :  PRasadreddyhello

### 50. Convert a CSV string to a list of lists.

In [ ]:
import csv
from io import StringIO

csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,San Francisco"""

csv_data = []

csv_reader = csv.reader(StringIO(csv_string))

for row in csv_reader:
    csv_data.append(row)

print(csv_data)

[['Name', 'Age', 'Location'], ['Alice', '25', 'New York'], ['Bob', '30', 'Los Angeles'], ['Charlie', '22', 'San Francisco']]

# **List Based Practice problem :**

### 1. Create a list with integers from 1 to 10.

In [ ]:
lst=[i for i in range(1,10)]

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 2. Find the length of a list without using the `len()` function.

In [ ]:
lst = ["prasad"," reddy",1,2,3,4,6]

length = len(lst)  # using len() function

print(f"the length of a list is : {length}")

the length of a list is : 7

### 3. Append an element to the end of a list.

In [ ]:
lst = ["prasad"," reddy",1,2,3,4,6]

lst.append("pwSkills")  #using append() function

print(f"After appending of element at the end of list  : {lst}")

After appending of element at the end of list  : ['prasad', ' reddy', 1, 2, 3, 4, 6, 'pwSkills']

### 4. Insert an element at a specific index in a list.

In [ ]:
lst = ["prasad ","reddy"]

index = int(input("enter index value at a particular position : "))

element = input("enter element to add : ")


lst.insert(index,element)

print(lst)

enter index value at a particular position : 1
enter element to add : ayithi
['prasad ', 'ayithi', 'reddy']

### 5. Remove an element from a list by its value.

In [ ]:
lst = [1,2,54,"prasad","pw","skills"]

lst.remove("pw")  #using remove function

print(lst)

[1, 2, 54, 'prasad', 'skills']

### 6. Remove an element from a list by its index.

In [ ]:
lst = [1,2,54,"prasad","pw","skills"]

lst.pop(3)  #using pop function

print(lst)

[1, 2, 54, 'pw', 'skills']

### 7. Check if an element exists in a list.

In [ ]:
lst = ["pw","skills","data","science"]

element = input("enter element name to check  : ")

if element in lst:
  print("given element is in list")
else:
  print("given element is not in list")

enter element name to check  : data
given element is in list

### 8. Find the index of the first occurrence of an element in a list.

In [ ]:
lst = ["pw","skills","data","science"]

ind = "data"

result = lst.index(ind)  # using index()

print(f"the first occurance of '{ind}' is at index : {result}")

the first occurance of 'data' is at index : 2

### 9. Count the occurrences of an element in a list.

In [ ]:
lst = [2,6,32,76,34,2,3,65,2]

element = 2

count = 0

for i in lst:
  if i == element:
    count+=1

print(f"the count of '{element}' is : {count}")

the count of '2' is : 3

### 10. Reverse the order of elements in a list.

In [ ]:
lst = ["pw","skills","best","data science"]

reverse_list = lst [::-1]  # using slicing

print(f"before : {lst}")
print(f"after reversed : {reverse_list}")

before : ['pw', 'skills', 'best', 'data science']
after reversed : ['data science', 'best', 'skills', 'pw']

### 11. Sort a list in ascending order.

In [ ]:
lst = [2,6,32,76,34,2,3,65,2]

lst.sort(reverse=False)  # using sort function

print(lst)

[2, 2, 2, 3, 6, 32, 34, 65, 76]

### 12. Sort a list in descending order.

In [ ]:
lst = [2,6,32,76,34,2,3,65,2]

lst.sort(reverse=True)  # using sort function

print(lst)

[76, 65, 34, 32, 6, 3, 2, 2, 2]

### 13. Create a list of even numbers from 1 to 20.

In [ ]:
lst = [i for i in range(1,20) if i%2==0] # using list comprehension
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### 14. Create a list of odd numbers from 1 to 20.

In [ ]:
lst = [i for i in range(1,20) if i%2!=0] # using list comprehension
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [ ]:
lst = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

print(f"the sum of list is : {sum(lst)}")

the sum of list is : 100

### 16. Find the maximum value in a list.

In [ ]:
lst = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

maximum = max(lst)

print(f"The maximum number of the list is: {maximum}")

### 17. Find the minimum value in a list.

In [ ]:
lst = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
print(f"The maximum number of the list is: {min(lst)}")

The maximum number of the list is: 1

### 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
lst = [i**2 for i in range(1,10)] # using list comprehension

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### 19. Create a list of random numbers.

In [ ]:
import random  # importing random module
lst = [random.randint(1,100) for _ in range(1,10)]  #using list comrehension

print(lst)

[54, 43, 7, 100, 97, 75, 43, 92, 58]

### 20. Remove duplicates from a list.

In [ ]:
lst = [2,3,9,2,5,10,3,5,2] #list

with_out_duplicates = set(lst) # converting into set due to set not allows duplicates

result = list(with_out_duplicates)  # converting set into list

print(result)  # displaying the result

### 21. Find the common elements between two lists.

In [ ]:
lst1 = ["prasad","reddy","mohit","dileep"]
lst2 = ["mohit","dinesh","dileep","prasad","king"]

result_list=[]

for i in lst1:
  if i in lst2:

    result_list.append(i) # appending common elements

for i in lst2:
  if i not in lst1:

    result.append(i) # appending value to list

print(result_list)

['prasad', 'mohit', 'dileep']

### 22. Find the difference between two lists.

In [ ]:
lst1 = ["prasad","reddy","mohit","dileep"]
lst2 = ["mohit","dinesh","dileep","prasad","king"]

result = []  # empty list

for i in lst1:
  if i not in lst2:

    result.append(i) # appending value to list

for i in lst2:
  if i not in lst1:

    result.append(i) # appending value to list

print(result)

['reddy', 'dinesh', 'king']

### 23. Merge two lists.

In [ ]:
lst1 = ["prasad","reddy","mohit","dileep"]
lst2 = ["mohit","dinesh","dileep","prasad"]

result = lst1+lst2

print(result)

['prasad', 'reddy', 'mohit', 'dileep', 'mohit', 'dinesh', 'dileep', 'prasad']

### 24. Multiply all elements in a list by 2.

In [ ]:
lst = [2,6,5,2,5]

result = [i*2 for i in lst] # using list comprehension

print(result)

[4, 12, 10, 4, 10]

### 25. Filter out all even numbers from a list.

In [ ]:
lst = [2,6,5,2,5,6,8,14]

result = [i for i in lst if i%2==0] # using list comprehension

print(result)

[2, 6, 2, 6, 8, 14]

### 26. Convert a list of strings to a list of integers.

In [ ]:
lst = ["1","2","3","5"]

result = [int(i) for i in lst] # using list comprehension

print(result)

[1, 2, 3, 5]

### 27. Convert a list of integers to a list of strings.

In [ ]:
lst = [1,2,3,4,5]

result = [str(i) for i in lst] # using list comprehension

print(result)

['1', '2', '3', '4', '5']

### 28. Flatten a nested list.

In [ ]:
def flatten_list(nested_list):
    flattened = []
    for item in nested_list:
        if isinstance(item, list):
            flattened.extend(flatten_list(item))
        else:
            flattened.append(item)
    return flattened

# Example nested list
nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Flatten the nested list
flattened_list = flatten_list(nested_list)

print(flattened_list)

### 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
n = 10

lst = [0,1] #initially we have to declare first two fibonacci numbers in lst

while True:
  if len(lst)<n:
    lst.append(lst[-1]+lst[-2]) # appending of sum of last two digits
  else:
    break    # when length is completed it will break the loop

print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [ ]:
lst = [2, 4, 5, 2, 1]
sorted_flag = True  # initially declaring True

for i in range(len(lst) - 1):
    if lst[i] > lst[i + 1]:    # checking if the number is greaterthen or not
        sorted_flag = False
        break  # if it greater then loop will break

if sorted_flag:
    print("This list is sorted in ascending order.")
else:
    print("This list is not sorted in ascending order.")

This list is not sorted in ascending order.

### 31. Rotate a list to the left by `n` positions.

In [ ]:
n = int(input("enter n value for move the list towards left : "))

lst = [1,2,3,4,5]

result = lst[n:]+lst[:n]  # using slicing

print(result)

enter n value for move the list towards left : 2
[3, 4, 5, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [ ]:
n = int(input("enter n value for move the list towards right : "))

lst = [1,2,3,4,5]

result = lst[-n:]+lst[:-n]  # using slicing

print(result)

enter n value for move the list towards right : 2
[4, 5, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [ ]:
lst = []

for i in range(2, 51):  # Start from 2, as 0 and 1 are not prime.
    is_prime = True
    for j in range(2, i):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        lst.append(i)

print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [ ]:
lst = [1,2,3,4,5,6,7,7,9]

n = int(input("enter number  for chunk size  : "))  # taking chunk size from the user

whole_list = []   # empty list

nested_list = []   # empty list

while lst:
  nested_list = lst[:n]   # storing first n number s

  whole_list.append(nested_list)  # adding that first numbers into whole_list

  lst = lst [n:]   # removing first n numbers from original list using list


print(whole_list)

enter number  for chunk size  : 3
[[1, 2, 3], [4, 5, 6], [7, 7, 9]]

### 35. Find the second largest number in a list.

In [ ]:
lst = [2,5,10,65,88,98]

lst.sort(reverse = False)  # sorting using sort function

print(f"The second largest number is : {lst[-2]}")  # getting result using reverse index

The second largest number is : 88

### 36. Replace every element in a list with its square.

In [ ]:
lst = [2,4,6,2,5,7]

count = 0  # initializing 0 for further use

for i in lst:

  lst[count] = i ** 2  # squarring of count index value
  count+=1  # incrementing

print(lst)

[4, 16, 36, 4, 25, 49]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
lst = ["Prasad","reddy","mohit","dileep","pavan","jogi","dinesh","shannnu"]

dictionary = {} # creating empty dictionary
count = 0

for i in lst:

  dictionary[i] = count  # assing index as value to key
  count += 1  # incrementing

print(dictionary)

{'Prasad': 0, 'reddy': 1, 'mohit': 2, 'dileep': 3, 'pavan': 4, 'jogi': 5, 'dinesh': 6, 'shannnu': 7}

### 38. Shuffle the elements of a list randomly.

In [ ]:
import random  # importing random

lst = ["a","b","c","d","e"]

random.shuffle(lst)  # using random module

print(lst)

['d', 'c', 'a', 'b', 'e']

### 39. Create a list of the first 10 factorial numbers.

In [ ]:
lst = []   #empty list

for i in range(10): # iterating till 10 numbers

  ans = 1  # initiallize  1 for multiplication

  for j in range(1,i+1):  # iterating 1 to current value
    ans*=j

  lst.append(ans)
  ans = 1

print(lst)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [ ]:
lst1 = ["prasad",2,4,5,6,"dileep"]
lst2 = [1,7,3]

common_elements = set(lst1).intersection(set(lst2))

if common_elements :
  print("these lists lists have common elements")
else:
  print("these lists dont have common elements")

these lists dont have common elements

### 41. Remove all elements from a list.

In [ ]:
lst = [1,23,5,6,3]

lst.clear()  # clearing list using clear function

print(lst)

[]

### 42. Replace negative numbers in a list with 0.

In [ ]:
lst1= [1,3,-5,7,-2]
count= 0
result=[1,3,-5,7,-2]

for i in result:

  if i<0:  # checking if the number is negetive or not
    result[count]=0    # assigning 0 to that index
  count+=1

print(f"before converting : {lst1}")
print(f"after convering : {result}")

before converting : [1, 3, -5, 7, -2]
after convering : [1, 3, 0, 7, 0]

### 43. Convert a string into a list of words.

In [ ]:
string = "Prasad took data science course in pw skills"

lst = string.split()  # splitting string using split function

print(lst)

['Prasad', 'took', 'data', 'science', 'course', 'in', 'pw', 'skills']

### 44. Convert a list of words into a string.

In [ ]:
lst = ['Prasad', 'took', 'data', 'science', 'course', 'in', 'pw', 'skills']

string = " ".join(lst)  # using join function

print(string)

Prasad took data science course in pw skills

### 45. Create a list of the first `n` powers of 2.

In [ ]:
lst = []

n=int(input("enter n value : "))

for i in range(2,n):
  lst.append(2**i)  # appending square of each value

print(lst)

enter n value : 10
[4, 8, 16, 32, 64, 128, 256, 512]

### 46. Find the longest string in a list of strings.

In [ ]:
lst = ["prasad", "mohit", "dileep kumar", "dinesh", "pavan", "jogi naidu"]

longest_strings = []  # A list to store all the longest strings
maximum_length = 0

for string in lst:
    if len(string) > maximum_length:
        longest_strings = [string]  # New longest string found
        maximum_length = len(string)
    elif len(string) == maximum_length:
        longest_strings.append(string)  # Another string with the same maximum length

print("Longest string(s):", longest_strings)

Longest string(s): ['dileep kumar']

### 47. Find the shortest string in a list of strings.

In [ ]:
lst = ["prasad", "mohit", "dileep kumar", "dinesh", "pavan", "jogi naidu"]

minimum_string = []    # empty list

minimum = len(lst[0])   # storing first string because comparing

for string in lst :

  if len(string) < minimum :  # checking length

    minimum_string = [string]
    minimum = len(string)

  elif len(string) == minimum:   # checking if more than one string at same length

    minimum_string.append(string)

print("shortest strings(s): ",minimum_string)

shortest strings(s):  ['mohit', 'pavan']

### 48. Create a list of the first `n` triangular numbers.

In [ ]:
n = 5  # You can change 'n' to the number of triangular numbers you want
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [ ]:
lst1 = [1,2,4,5,2,5]

lst2 = [2,4,6]

flag =True

for i in lst2:
  if i not in lst1:
    flag = False
    break
if flag:
  print("list contains another list as a subsequence.")

else:
  print("list not contains another list as a subsequence.")

list not contains another list as a subsequence.

### 50. Swap two elements in a list by their indices.

In [ ]:
lst = ["Prasad", "Ayithireddy","bpt"]

index1 = 0   # swapping element of first index
index2 = 1   # swapping element of second index

lst[index1] , lst[index2] = lst[index2] , lst[index1]   # swapping elements by using index

print(lst)

['Ayithireddy', 'Prasad', 'bpt']

## **Tuple Based Practice Problem :**

### 1. Create a tuple with integers from 1 to 5.

In [ ]:
tup = tuple(range(1,6))   # arranging 1 to 5 numbers using range()

print(tup)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [ ]:
tup = (1,3,4,5,2,8)

n=3   # assigning number to access the element

print(f"the third element of tuple is : {tup[n-1]}")  # displaying using result index

the third element of tuple is : 4

### 3. Find the length of a tuple without using the `len()` function.

In [ ]:
tup = (1,4,3,7,9,10)
count = 0

for i in tup:  # iterating tup to count of the length
  count+=1

print(f"the length of the tuple is : {count}")

the length of the tuple is : 6

### 4. Count the occurrences of an element in a tuple.

In [ ]:
tup = (1,3,7,4,2,1,7,10,1,3)

element = int(input("enter the element to search : "))

count = 0

for i in tup:
  if i == element:  # checking if the element and current element
    count += 1

print(f"'{element}' occurs : '{count}' times")

enter the element to search : 3
'3' occurs : '2' times

### 5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
tup = (1, 3, 7, 4, 2, 1, 7, 10, 1, 3)

element = int(input("Enter the element to search: "))

count = 0

for i in tup:
    if i == element:  # Check if the element matches the current element
        break
    count += 1

print(f"'{element}' first occurs at the {count} nd index position.")

Enter the element to search: 7
'7' first occurs at the 2 nd index position.

### 6. Check if an element exists in a tuple.

In [ ]:
tup = (1, 3, 7, 4, 2, 1, 7, 10, 1, 3)

element = int(input("enter element to check : "))

if element in tup :
  print(f"'{element}' is exists in this tuple")
else:
  print(f"'{element}' is not exists in this tuple")

enter element to check : 11
'11' is not exists in this tuple

### 7. Convert a tuple to a list.

In [ ]:
tup = (1, 3, 7, 4, 2, 1, 7, 10, 1, 3)

lst = list(tup)  # convert using list()

print(lst)

[1, 3, 7, 4, 2, 1, 7, 10, 1, 3]

### 8. Convert a list to a tuple.

In [ ]:
lst = [1, 3, 7, 4, 2, 1, 7, 10, 1, 3]

tup = tuple(lst)  # convert using tuple ()

print(tup)

(1, 3, 7, 4, 2, 1, 7, 10, 1, 3)

### 9. Unpack the elements of a tuple into variables.

In [ ]:
tup = (1,3,6,7)

v1 , v2 , v3 , v4 = tup

print(f"first variable : {v1}")
print(f"second variable : {v2}")
print(f"third variable : {v3}")
print(f"fourth variable : {v4}")

first variable : 1
second variable : 3
third variable : 6
fourth variable : 7

### 10. Create a tuple of even numbers from 1 to 10.

In [ ]:
tup = tuple(i for i in range(1,10) if i%2==0)

print(f"the tuple of even numbers from 1 to 10 : {tup}")

the tuple of even numbers from 1 to 10 : (2, 4, 6, 8)

### 11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
tup = tuple(i for i in range(1,10) if i%2 != 0)

print(f"the tuple of even numbers from 1 to 10 : {tup}")

the tuple of even numbers from 1 to 10 : (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [ ]:
tup1 = (2, 4, 6, 8)
tup2 = (1, 3, 5, 7, 9)

print(tup1+tup2)  # concatenate using + operator

(2, 4, 6, 8, 1, 3, 5, 7, 9)

### 13. Repeat a tuple three times.

In [ ]:
tup = (2, 4, 6, 8)

print(tup * 3)  # using * operator

(2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8)

### 14. Check if a tuple is empty.

In [ ]:
tup = (1, 23)

if len(tup) == 0:  # by checking of its length
    print("The tuple is empty.")

else:
    print("The tuple is not empty.")

The tuple is not empty.

### 15. Create a nested tuple.

In [ ]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))

print(nested_tuple)

((1, 2), (3, 4, 5), (6,))

### 16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = (1, 2, (3, 4, 5), (6,))
results = 0

for item in nested_tuple:
    if isinstance(item, tuple):
        results=item[0]
        break

print(f"The first element of nested tuple : {results}")

The first element of nested tuple : 3

### 18. Compare two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare for equality
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

# Compare for inequality
if tuple1 != tuple2:
    print("Tuples are not equal")
else:
    print("Tuples are equal")

# Compare for greater than or less than
if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

if tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

Tuples are not equal
Tuples are not equal
tuple1 is less than tuple2
tuple1 is not greater than tuple2

### 19. Delete a tuple.

In [ ]:
tuple_for_delete = (1,4,5,6,7)

del tuple_for_delete   # deleting tuple using del

try:
    # Attempt to print the tuple
    print(tuple_for_delete)
except NameError:

    print("The tuple does not exist anymore.")  # this statement was printed due to it was deleted

The tuple does not exist anymore.

### 20. Slice a tuple.

In [ ]:
tuple1 = (2,6,7,3,23)

print(tuple1[1:6])  # displaying using slicing

(6, 7, 3, 23)

### 21. Find the maximum value in a tuple.

In [ ]:
tup = (2,6,7,3,23)

maximum = max(tup)

print(f"the maximum value in a tuple is : {maximum}")

the maximum value in a tuple is : 23

### 22. Find the minimum value in a tuple.

In [ ]:
tup = (2,6,7,3,23)

minimum = min(tup)

print(f"the minimum value in a tuple is : {minimum}")

the minimum value in a tuple is : 2

### 23. Convert a string to a tuple of characters.

In [ ]:
string = "PwSkills"

tup = tuple(i for i in string )

print(tup)

('P', 'w', 'S', 'k', 'i', 'l', 'l', 's')

### 24. Convert a tuple of characters to a string.

In [ ]:
tup = ('P', 'w', 'S', 'k', 'i', 'l', 'l', 's')

string = "".join(tup)

print(string)

PwSkills

### 25. Create a tuple from multiple data types.

In [ ]:
mixed_tuple = (1, "skills", 3.14, [4, 5, 6], {"name": "prasad", "age": 20})

# You can check the type of the tuple
print(type(mixed_tuple))

# You can also print the tuple
print(mixed_tuple)

<class 'tuple'>
(1, 'apple', 3.14, [4, 5, 6], {'name': 'prasad', 'age': 20})

## 26. Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:   #checking if the two tuples are same or not
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

### 27. Sort the elements of a tuple.

In [ ]:
tup = (5,7,2,9)

lst = list(tup)

lst.sort()

print(tuple(lst))

(2, 5, 7, 9)

### 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tup = (1,2,3,5,6)

tup_of_strings = []

for i in tup:
  tup_of_strings.append(str(i))

print(tuple(tup_of_strings))

('1', '2', '3', '5', '6')

### 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tup_of_strings = ('1', '2', '3', '5', '6')

tup_of_integers = []

for i in tup_of_strings:
  tup_of_integers.append(int(i))
print(tuple(tup_of_integers))

(1, 2, 3, 5, 6)

### 30. Merge two tuples.

In [ ]:
tup1 = (1,3,47,8)
tup2 = (5,7,4,2)

result = tup1+tup2  #merging using + operator

print(result)

(1, 3, 47, 8, 5, 7, 4, 2)

### 31. Flatten a nested tuple.

In [ ]:
tup = (2,(3,5),"Prasad",((2,4,5,7,8,6),(7)),90)

lst = []  #empty list

for element in tup:    # iterating tuple

  if isinstance(element,tuple):   #checking if it is tuple

    for item in element:    # if its tuple then iterates it

      if isinstance(item,tuple):  # again it checks tuple or not
        lst.extend(item)   # if its tuple then extending each element to the empty list
      else:
        lst.append(item)   # if its tuple then appending each element to the empty list

  else:
    lst.append(element)    # if its tuple then appending each element to the empty list

result = tuple(lst)  #converting lst into tuple using tuple function

print(result)

(2, 3, 5, 'Prasad', 2, 4, (5, 7, 8), 6, 7, 90)

### 32. Create a tuple of the first 5 prime numbers.

In [ ]:
lst = []   # empty list

n = 2

while len(lst) < 5:  #checking if the length of list is 5 or not

    prime = True
    for i in range(2, n):
        if n % i == 0:  # if it is true then this iteration will break
            prime = False
            break   # breaking the loop
    if prime:
        lst.append(n)
    n += 1

tup = tuple(lst)
print(f"the first 5 prime numbers : {tup}")

the first 5 prime numbers : (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [ ]:
tup = (2,4,4,2)

if tup[::-1] == tup :   # reversing a tuple using slicing
  print(f"this tuple is palindrome ")
else:
  print(f"this tuple is not palindrome")

this (2, 4, 4, 2) is palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
lst = [] # creating empty list

n1  = 1 # starting number
n2 = 5  # ending number

for i in range(n1,n2+1):
  lst.append(i**2)  # squarring and appending to the list

lst = tuple(lst)

print(lst)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [ ]:
tup = (2,6,3,9,12,60)

lst = []

for i in tup :
  if i % 2 == 0:
    lst.append(i)

result = tuple(lst)

print(f"these all even numbers from this tuple : {result}")

these all even numbers from this tuple : (2, 6, 12, 60)

### 36. Multiply all elements in a tuple by 2.

In [ ]:
tup = (2,6,34,6,12)

result = tuple(i*2 for i in tup )   # by using comprehension

print(result)

(4, 12, 68, 12, 24)

### 37. Create a tuple of random numbers.

In [ ]:
import random

tup = tuple(random.randint(1,20) for _ in range(1,10))

print(tup)

(12, 7, 19, 17, 13, 3, 4, 7, 5)

### 38. Check if a tuple is sorted.

In [ ]:
tup = (0,3,6,9)
lst = list(tup)
lst.sort()


if tuple(lst) == tup :
  print("This tuple is sorted")

else:
  print("This tuple is not started")

This tuple is sorted

### 39. Rotate a tuple to the left by `n` positions.

In [ ]:
tup = (5,6,7,"Prasad",4,6,3)

n = int(input("enter n value to position move towards left : "))

result = tup[n:]+tup[:n]

print(result)

enter n value to position move towards left : 3
('Prasad', 4, 6, 3, 5, 6, 7)

### 40. Rotate a tuple to the right by `n` positions.

In [ ]:
tup = (5, 6, 7, "Prasad", 4, 6, 3)

n = int(input("Enter n value to rotate the tuple to the right: "))

n = n % len(tup)  # Use modulo to ensure n stays within the valid range

result = tup[-n:] + tup[:-n]

print(result)

Enter n value to rotate the tuple to the right: 3
(4, 6, 3, 5, 6, 7, 'Prasad')

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
lst = [0,1]

for i in lst:

  if len(lst)<5:
    lst.append(lst[-1]+lst[-2])   # adding last two digits and appending to the list

  else:
    break  # out of 5 digits then break the loop

result = tuple(lst)  # converting the list into tuple

print(result)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [ ]:
tup = input("enter input give spaces to each element : ")

result = tuple(tup.split())

print(result)

enter input give spaces to each element : prasad reddy mohit dileep dinesh
('prasad', 'reddy', 'mohit', 'dileep', 'dinesh')

### 43. Swap two elements in a tuple.

In [ ]:
tup = (3,4,5,6,8,9)
lst = list(tup)

lst[2],lst[4] = lst[4],lst[2]

result = tuple(lst)

print(result)

(3, 4, 8, 6, 5, 9)

### 44. Reverse the elements of a tuple.

In [ ]:
tup = ("prasad",4,6,2,8)

print(f"the reverse of tuple is : {tup[::-1]}")

the reverse of tuple is : (8, 2, 6, 4, 'prasad')

### 45. Create a tuple of the first `n` powers of 2.

In [ ]:
n = int(input("enter 'n' value for first 'n' powers : "))
tup = tuple(2**i for i in range(n))

print(tup)

enter 'n' value for first 'n' powers : 5
(1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [ ]:
tup = ("Prasad",("dileep kumar","mohit"),"dinesh",("jogi","pavan","shanmukha rao"))

string = ""

for i in tup:
  if isinstance(i,tuple):
    for j in i:
      if len(j)>len(string):
        string = j
      else:
        pass
  else:
    if len(i)>len(string):
      string = i
print(f"the longest string is : {string}")

the longest string is : shanmukha rao

### 47. Find the shortest string in a tuple of strings.

In [ ]:
tup = (("raj","Prasad"),("dileep kumar","mohit"),"dinesh",("jogi","pavan","shanmukha rao"))

string = tup[0]
if isinstance(tup[0],tuple):
  string = tup[0][0]

else:
  string = tup [0]


for i in tup:
  if isinstance(i,tuple):
    for j in i:
      if len(j)<len(string):
        string = j
      else:
        pass
  else:
    if len(i)<len(string):
      string = i
print(f"the longest string is : {string}")

the longest string is : raj

### 48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n = int(input("Enter the number of triangular numbers you want: "))

triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print(triangular_numbers)

Enter the number of triangular numbers you want: 6
(1, 3, 6, 10, 15, 21)

### 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
tup =  (1,3,(5,8,9),"prasad")
result = False

for i in tup:
  if isinstance(i,tuple):   # checking if the tuple is there or not
    result=True
    break


if result:
  print("this tuple contains another tuple as a subsequence")

else:
  print("this tuple doesnot contains tuple as a subsequence")

this tuple contains another tuple as a subsequence

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
lst = []
n = int(input("enter n value : "))

for i in range(n):
  if count % 2 ==0:

    lst.append(0)
  else:
    lst.append(1)

result = tuple(lst)

print(result)

enter n value : 9
(0, 1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [ ]:
s1 = {i for i in range(1,6)}

print(s1)

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [ ]:
s1 = {1,2,3,4,5}

s1.add(6) # adding element using add function

print(s1)

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [ ]:
s1 = {1,2,3,4,5,6}

s1.remove(6)  # removing element using remove function

print(s1)

{1, 2, 3, 4, 5}

### 4. Check if an element exists in a set.

In [ ]:
s1 = {3,5,6,7,8}

num = int(input("enter element to check : "))

if num in s1:
  print("Yes , this element exists")

else:
  print("element not exists")

enter element to check : 2
element not exists

### 5. Find the length of a set without using the `len()` function.

In [ ]:
s1 = {4,5,6,7,8,9,1,2}
count = 0

for i in s1:
  count += 1  # incrementing using count variable for each iteration

print(f"The length is : {count}")

The length is : 8

### 6. Clear all elements from a set.

In [ ]:
s1 = {2,4,5,7,8}

s1.clear()  # clearing set using clear()

print(s1)

set()

### 7. Create a set of even numbers from 1 to 10.

In [ ]:
s1 = {i for i in range(1,11) if i%2==0}

print(s1)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [ ]:
s1 = {i for i in range(1,11) if i%2!=0}

print(s1)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [ ]:
s1 = {1,4,5,2}
s2 = {5,2,6,9}

result = s1.union(s2)

print(result)

{1, 2, 4, 5, 6, 9}

### 10. Find the intersection of two sets.

In [ ]:
s1 = {1,4,5,2}
s2 = {5,2,6,9}

result = s1.intersection(s2)

print(result)

{2, 5}

### 11. Find the difference between two sets.

In [ ]:
s1 = {1,4,5,2}
s2 = {5,2,6,9}

result = s1-s2

print(result)

{1, 4}

### 12. Check if a set is a subset of another set.

In [ ]:
s1 = {1,4,5,2}
s2 = {5,2,1,4,5,7}

result = s1.issubset(s2)  # checking if subset or not

print(result)

True

### 13. Check if a set is a superset of another set.

In [ ]:
s1 = {1,4,5,2,5,7,8,9}
s2 = {5,2,1,4,5,7}

result = s1.issuperset(s2)  # checking if superset or not

print(result)

True

### 14. Create a set from a list.

In [ ]:
lst = [2,3,4,5]

s1 = set(lst)

print(s1)

{2, 3, 4, 5}

### 15. Convert a set to a list.

In [ ]:
s1 = {3,45,6,8}

lst = list(s1)

print(lst)

[8, 3, 45, 6]

### 16. Remove a random element from a set.

In [6]:
import random
s1 = {3, 45, 78, 89}
lst = list(s1)

index_to_remove = random.randint(0, len(lst) - 1)    # assigning random number to index_to_remove
lst.pop(index_to_remove)    #deleting that index number in that set

s1 = set(lst)

print(s1)

{89, 3, 45}

### 17. Pop an element from a set.

In [12]:
s1 = {2,5,6,7,8}

s1.pop()  # poping of an element using pop function

print(s1)

{5, 6, 7, 8}

### 18. Check if two sets have no elements in common.

In [15]:
s1 = {2,6,8,9}
s2 = {7,1,5,3}

flag = True

for i in s1:
  if i in s2:  # checking if the element are in second set
    flag = False
    break   # terminating the loop

if flag:
  print("There is no common elements")

else:
  print("some elements are common between these sets")

There is no common elements

### 19. Find the symmetric difference between two sets.

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_diff = set1.symmetric_difference(set2)   #
print(symmetric_diff)

{1, 2, 6, 7}

### 20. Update a set with elements from another set.

In [24]:
s1 = {2,5,7,9,2,7}
s2 = {2,8,9}   # creating empty set

s2.update(s1)   # updating s2 by using of update() from s1

print(s2)

{2, 5, 7, 8, 9}

### 21. Create a set of the first 5 prime numbers.

In [39]:
s1 = set()

n = int(input("enter n value : "))

prime_number = 0

while len(s1) < n:

  isPrime = True
  if prime_number < 2 :   # checking if the prime number is less than 2
    isPrime = False

  for i in range(2,prime_number):

    if prime_number % i == 0 :
      isPrime = False
      break

  if isPrime:
    s1.add(prime_number)

  prime_number += 1  # incrementing 1 for each iteration

print(f"set of first {n} prime numbers are : {s1}")

enter n value : 7
set of first 7 prime numbers are : {2, 3, 5, 7, 11, 13, 17}

### 22. Check if two sets are identical.

In [40]:
s1 = {2,5,6,8}
s2 = {5,8,9,2}

if s1 == s2:
  print("these two sets are identical")

else:
  print("these are not identical")

these are not identical

### 23. Create a frozen set.

In [50]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

### 24. Check if a set is disjoint with another set.

In [52]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

if s1.isdisjoint(s2):
    print("The sets are disjoint (no common elements).")
else:
    print("The sets are not disjoint (they have common elements).")

The sets are disjoint (no common elements).

### 25. Create a set of squares of numbers from 1 to 5.

In [53]:
s1 = {i**2 for i in range(1,6)}  # using comprehension

print(s1)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [55]:
s1 = {1, 4, 9, 16, 25}
result = set()

for i in s1:
  if i % 2 == 0 :
    result.add(i)

print(f"these are even numbers in this set : {result}")

these are even numbers in this set : {16, 4}

### 27. Multiply all elements in a set by 2.

In [58]:
s1 = {2,6,7,8,9}
lst = []

for i in s1:

  lst.append(i * 2)

result = set(lst)

print(result)

{4, 12, 14, 16, 18}

### 28. Create a set of random numbers.

In [59]:
import random

# Define the range and size of the set
min_value = 1
max_value = 100
set_size = 10

# Create an empty set to store random numbers
random_set = set()

# Generate random numbers and add them to the set
while len(random_set) < set_size:
    random_number = random.randint(min_value, max_value)
    random_set.add(random_number)

print(random_set)

{66, 3, 35, 45, 80, 84, 52, 22, 23, 56}

### 29. Check if a set is empty.

In [63]:
s1 = set()

if len(s1) == 0:
  print("the set is empty")

else:
  print("the set is not empty")

the set is empty

### 30. Create a nested set (hint: use frozenset).

In [64]:
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

### 31. Remove an element from a set using the discard method.

In [65]:
s1 = {2,5,7,8}

s1.discard(5)

print(s1)

{8, 2, 7}

### 32. Compare two sets.

In [66]:
s1 = {3,5,6,7}
s2 = {4,8,9,1}

if s1 == s2:
    print("s1 and s2 are equal")
else:
    print("s1 and s2 are not equal")


if s1.isdisjoint(s2):
    print("s1 and s2 are disjoint (have no common elements)")
else:
    print("s1 and s2 are not disjoint (they have common elements)")


union_set = s1 | s2  # Using the | operator
print("Union of s1 and s2:", union_set)


intersection_set = s1 & s2  # Using the & operator
print("Intersection of s1 and s2:", intersection_set)

symmetric_difference_set = s1 ^ s2  # Using the ^ operator
print("Symmetric difference between s1 and s2:", symmetric_difference_set)

s1 and s2 are not equal
s1 and s2 are disjoint (have no common elements)
Union of s1 and s2: {1, 3, 4, 5, 6, 7, 8, 9}
Intersection of s1 and s2: set()
Symmetric difference between s1 and s2: {1, 3, 4, 5, 6, 7, 8, 9}

### 33. Create a set from a string.

In [67]:
string = "prasad@123"
s1 = set()  # creating empty set

for i in string:
  s1.add(i)

print(s1)

{'a', 'r', '1', 'p', 's', '3', '2', '@', 'd'}

### 34. Convert a set of strings to a set of integers.

In [68]:
string_set = {"1", "2", "3", "4", "5"}
integer_set = set()

for string in string_set:
    integer = int(string)
    integer_set.add(integer)

print(integer_set)

{1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [74]:
integer_set = {1, 2, 3, 4, 5}
string_set = set()

for integer in integer_set:
    string = str(integer)
    string_set.add(string)

print(string_set)

{'4', '1', '3', '2', '5'}

### 36. Create a set from a tuple.

In [75]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [77]:
my_set = {1, 2, 3, 4, 5}

my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [79]:
s1 = {3,5,16,8}

maximum = max(s1)

print(f"the maximum value in set : {maximum}")

the maximum value in set : 16

### 39. Find the minimum value in a set.

In [80]:
s1 = {3,5,16,8}

minimum = min(s1)

print(f"the minimum value in set : {minimum}")

the minimum value in set : 3

### 40. Create a set from user input.

In [82]:
s1 = input("enter set elements leave a space between each element : ")

lst = list(s1.split())

result = set(lst)

print(result)

enter set elements : 3 reddy 54 prasad
{'prasad', 'reddy', '3', '54'}

### 41. Check if the intersection of two sets is empty.

In [84]:
s1 = {3,6,7,8}
s2 = {5,8,9,10}

intersection_of_sets = s1.intersection(s2)

if len(intersection_of_sets) == 0:
  print("the intersection of two sets is empty.")
else:
  print("the intersection of two sets is not empty.")

the intersection of two sets is not empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [95]:

lst = [0,1]

n = int(input("enter n value : "))

for i in range(n):
  lst.append(lst[-1]+lst[-2])

  if len(lst) > n :
    break

result = set(lst)   # while converting a lst into set then it removes duplicate values because set doesnot allows duplicate values

print(result)

enter n value : 5
{0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [97]:
lst = [0, 1, 1, 2, 3, 2]
lst_without_duplicates = set(lst)

unique_lst = list(lst_without_duplicates)

print(unique_lst)

[0, 1, 2, 3]

### 44. Check if two sets have the same elements, regardless of their count.

In [99]:
s1 = {1,1,2,3}
s2 = {1,2,3,3}

if s1==s2:
  print("The sets have the same elements, regardless of their count.")

else:
  print("The sets dont have the same elements, regardless of their count.")

The sets have the same elements, regardless of their count.

### 45. Create a set of the first `n` powers of 2.

In [103]:
s1 = set()
n = int(input("enter the value of n  : "))

for i in range(n):
  s1.add(2**i)

print(s1)

enter the value of n  : 10
{32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

### 46. Find the common elements between a set and a list.

In [107]:
Set = {2,5,7,8,9,3,5}
List = [5,8,2,10,15]

result = []

for i in Set:
  if i in List :
    result.append(i)

print(f"common elements are: {set(result)}")

common elements are: {8, 2, 5}

### 47. Create a set of the first `n` triangular numbers.

In [108]:
n = int(input("Enter the value of n: "))

triangular_numbers_set = set()
sum_natural_numbers = 0

for i in range(1, n + 1):
    sum_natural_numbers += i
    triangular_numbers_set.add(sum_natural_numbers)

print(triangular_numbers_set)

Enter the value of n: 5
{1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [115]:
my_set = {2, 5, 6, frozenset({5, 7, 8}), 10}
flag = False

for i in my_set:
    if isinstance(i, set) or isinstance(i,frozenset):
        flag = True
        break

if flag:
    print("This set contains another subset.")
else:
    print("This set doesn't contain another subset.")

This set contains another subset.

### 49. Create a set of alternating 1s and 0s of length `n`.

In [123]:
lst = []

n=int(input("enter n value : "))

for i in range(n):
  if i % 2 == 0:
    lst.append(1)
  else:
    lst.append(0)

print(f"with duplicates list : {lst}")

result = set(lst)  # here i am converting list into set

print("the set of alternating 1's and 0's : ",result)  # it displays only 0,1 due to set does not allows duplicates

enter n value : 10
with duplicates list : [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
the set of alternating 1's and 0's :  {0, 1}

### 50. Merge multiple sets into one.

In [125]:
s1 = {2,6,8,9}
s2 = {4,7,2,1}
s3 = {6,3,23,12}
s4 = {10,23,11,65}

result = s1 | s2 | s3 | s4   # merging using union ('|') operator

print(result)

{1, 2, 3, 4, 65, 6, 7, 8, 9, 10, 11, 12, 23}